<div class="shen-lore" *ngIf="shenData">
  <div class="shen-image" [ngStyle]="{'background-image': 'url(' + shenData.icon + ')'}"></div>
  <div class="content">
    <h2 class="subtitle">{{ shenData.title }}</h2>
    <h1 class="title">{{ shenData.name }}</h1>
    <p class="description">
      {{ shenData.lore }}
    </p>
    <div class="info-cards">
      <div class="info-card" *ngFor="let tag of shenData.tags">
        <p class="info-title">Role</p>
        <p class="info-value">{{ tag }}</p>
      </div>
      <div class="info-card">
        <p class="info-title">Difficulty</p>
        <p class="info-value">Medium</p>
      </div>
    </div>
  </div>
</div>
